# Entornos virtuales en cualquier nivel de carpetas
**/venv/
**/.venv/
venv/
.venv/

# Carpetas de caché de Python en cualquier nivel
**/__pycache__/
__pycache__/
*.pyc

# Archivos de configuración locales y variables de entorno
**/.env
**/*.env
.env
*.env

# Archivos de Claude / asistentes
**/.claude/
.claude/

